{% load static%}


			<footer class="bg-light text-center">
				<div class="social">
	   				<p > &copy; CodyWithMatth 2020 | &nbsp;<a href="#">Contact Us</a>&nbsp;&nbsp;
	   					
	   					<a class="p-1" href="#"><i class="fab fa-whatsapp"></i></a>
		   				<a class="p-1" href="#"><i class="fab fa-facebook"></i></a>
		   				<a class="p-1" href="#"><i class="fab fa-twitter"></i></a>
		   				<a class="p-1" href="#"><i class="fab fa-google-plus"></i></a>
		   				<a class="p-1" href="#"><i class="fab fa-youtube"></i></a>
			   		</p>
		   		</div>
			</footer>