<form class="d-flex" method="get" action="{% url 'blog-home' %}">
  <div class="d-flex input-group md-form form-sm form-1 px-3">
  <div class="input-group-prepend">
                <button class="btn btn-success ">
<i class="fa fa-search" aria-hidden="true"></i>
</button>
  </div>
  <input style="
              width: 100%;
             
              border: 1;
              outline: none;
              border-color: gray;
              border-right: 0;
              border-left: 0;
              border-top: 0;"class="form-control my-0 py-1 " type="text" placeholder="Search" aria-label="Search" name="q" >

  </div>
</form>