{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-lg-8 col-sm-12 mx-auto">
        <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-primary" type="submit">Login</button>
                </div>
            
        </form>
        <div class="border-top pt-3">
            <div class="mr-2 text-center">
                <div>
                      <small class="text-muted">
            <a href="{% url 'password_reset' %}">Forgot Password</a>
            </small>
                </div>
             

            <small class="text-muted text-center">
                New Account? <a class="ml-2" href="{% url 'register' %}">Register</a>
            </small>
        </div>
        </div>
    </div>
{% endblock content %}