
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.3.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Lobster">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">

  {% if title %}
    <title>Help Friends - {{ title }}</title>
  {% else %}
    <title> Help Friends</title>
  {% endif %}

</head>
<body class="mt-3 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-4">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container fluid">
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"> <img src="{% static 'blog/img/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">          
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mt-2 mb-2">
               <div class="dropdown" style="width: 10%;">
        			<a class="nav-link  ml-2" data-toggle = "dropdown" style="color: #0079d3; font-size: 20px;" href="#">{{ user.username }} <span class="caret"></span></a>
                  <div class="dropdown-menu" style="border: none; width: 10%;">
                    <a class=" dropdown-item mb-2" style="color: #0079d3;" href="{% url 'profileview'%}">Profile</a>
                      <a class=" dropdown-item" style="color: #0079d3;" href="{% url 'logout'%}">Logout</a>
          			
          		</div>
        		</div>
              </li>
            </ul>
          
        </div>
      </div>
    </nav>
  </header>
  {% block content%} {% endblock%}
  <div class="container mt-4 pt-2 ">
    <div class="row padding mt-2">
      <div class="col-md-8 mt-2 mb-4">
        
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
   
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="card mb-1">
          <div class="card-header font-weight-bold">
            <h2 class="display-5 lead"> Account</h2>
              </div>
              <div class="card-body">
             
                    <!-- border: 1px solid #000; -->
            <div class="d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column" style="width: 100%;">
            <div class="d-xl-flex d-lg-flex d-md-none d-sm-none d-none justify-content-center flex-column" style="width: 40%;">

            <div class="d-flex flex-column justify-content-center align-items-center vertical-align-center">
                
                    <img class="img-thumbnail" id="id_profile_image_display" src="{{ user.profile.image.url }}" style="width: 100%;"/>
                
                <div class="d-flex align-items-center justify-content-center mt-1" style=" width: 100%;">
                    <a class='btn btn-primary btn-block profile-edit-btn' href="{% url 'profile' %}" style="margin-right: 0px;">Edit Profile</a>
                </div> 
            </div>


            </div>
            <div class="d-xl-none d-lg-none d-md-flex d-sm-flex d-flex justify-content-center flex-column" style="width: 100%;" >
                
                <div class="d-flex  flex-column  justify-content-center align-items-center vertical-align-center">
                    
                        <img class="img-thumbnail profile-image" id="id_profile_image_display" src="{{ user.profile.image.url }}" style="width: 60%;"/>
                    
                </div>
                <div class="d-flex align-items-center justify-content-center mt-1" style=" width: 100%;">
                    <a class='btn btn-primary btn-block profile-edit-btn' href="{% url 'profile' %}" style="margin-right: 0px;">Edit Profile</a>
                </div>  
                
            </div>



            <div class="account-attributes d-flex justify-content-start align-items-start vertical-align-center flex-column p-xl-4 p-lg-4 p-md-3 p-sm-3 p-0">
            <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                <div class="d-flex flex-column justify-content-between ml-3">
                    <h5 class="text-dark">
                        <strong>
                            {{user.username}}
                        </strong>
                    </h5>
                   
                </div>

            </div>
            <div class="d-flex justify-content-between flex-column mt-3 p-3" style="width: 100%;">

                <!-- START EMAIL FIELD -->
                <div class="d-flex justify-content-between flex-row my-1" style="width: 100%;">
                    <div class="text d-flex">
                        <span class='text-dark'>Email</span>
                    </div>

                    <div class="d-flex">
                        
                        <span style="margin-left: 10rem;" class="text text-primary">{{user.email}}</span>
                        
                    </div>
                </div>
               
                <!-- END EMAIL FIELD -->
                <!-- START USERNAME FIELD -->
                <div class="d-flex justify-content-between flex-row my-1" style="width: 100%;">
                    <div class="text d-flex">
                        <span class='text-dark'>Username:</span>
                    </div>

                    <div class="d-flex ">
                        
                        <span class="text text-primary ml-5">{{user.username}}</span>
                        
                    </div>
                </div>
               
                  <!-- END USERNAME FIELD -->
                   <!-- START USERNAME FIELD -->
                <div class="d-flex justify-content-between flex-row my-1 " style="width: 100%;">
                    
                    <div class="d-flex text-center mt-5">
                        
                        <p style="margin-left: 5rem; margin-top: 1rem;" class="lead"><a class="text-center" href="{% url 'password_change' %}"  >Change Password</a></p>
                        
                    </div>
                </div>
               
                  <!-- END USERNAME FIELD -->
                </div>
                


      </div>
    </div>
  </div>             
</div>
            <div class="card">
              <div class="card-header">
                <div class="col-lg-12 col-md-12 col-sm-12">
                 
                  <div class="container">
					<div class="d-flex flex-column">
						<p style="font-size: 25px; font-family: Lobster; text-shadow: 1px 1px 3px lightgreen" class="m-auto">Your password has been Updated.</p>
					</div>
					</div>
                 
                  
                </div>
                
              </div>
              
            </div>
 
</div>


            
        <div class="col-lg-4 ">
          <div class="card mb-1">
          <div class="card-header"><a href="{% url 'blog-home' %}"> <img src="{% static 'blog/img/logo.png' %}"></a></div>
          <div class="card-body">
            
            <img class="rounded-circle accounts-img d-block m-auto pb-2 img-fluid" src="{{ user.profile.image.url }}">
              <h3 class="card-text text-center">Help Your Friends</h3>
              <p class='text-muted'>Please don't hesitate to seek for help when needed... Good Luck!</p>
              
          
        </div>
          <div class="card-footer">
            <p class=" card-link text-center"><a class="btn btn-outline-primary m-auto" href="{% url 'post-create'%}">Create Post</a></p>
            
         
        </div>
             
        </div>

        
<div class="card mb-4">
<div class="card-header"><h4>Calender</h4></div>
<div class="card-body">
<div class="row">
    
    <div class="d-flex flex-column justify-content-center col-12 text-center">
        <h5 class="text-center" style="font-weight: 400;">Today</h5>
     <p><small><a href="#">Advertisement</a></small></p>
     <p><small><a href="#">Day Created</a></small></p>
    </div>
</div>
</div>
</div>



      </div>
  
   
  </div>
</div>
 

 



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {%include 'blog/footer.html' %}
</body>
</html>
